body {
            font-family: 'Nunito', sans-serif;
            background-color: #F2F6FF;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
       }

        .top-bar {
           background-color: #FFFFFF;
           font-size: 19px;
           position: fixed;
           width: 100%;
           top: 0;
           left: 0;
           padding: 15px;
           z-index: 10;
       }

       .container-main {
           max-width: 1200px;
           margin: 0 auto;
           display: flex;
           justify-content: space-between;
           align-items: center;
       }

       .left-side img {
            width: 230px;
            height: auto;
       }

       .main-navigation {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .main-navigation li {
            margin: 0 20px;
        }

        .main-navigation a {
            color: #004df5;
            text-decoration: none;
            font-size: 19px;
            font-weight: bold;
            font-family: 'Nunito', sans-serif;
        }

        .button-container a{
            color: white;
            background-color: #3DBB56;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            text-align: center;
            transition: background-color 0.3s ease;
        }


        .button-container a:hover {
            background-color: #2e9e47;
        }

       .button-container .button {
            background-color: #3dbb56;
        }

        .toggle-switch {
            position: relative;
            display: inline-block;
            width: 55px;
            height: 25px;
        }

        .toggle-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: 0.4s;
            border-radius: 25px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 19px;
            width: 19px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            transition: 0.2s;
            border-radius: 50%;
        }

        input:checked + .slider {
            background-color: #3dbb56;
        }

        input:checked + .slider:before {
            transform: translateX(25px);
        }

        span {
            font-size: 17px;
            font-weight: bold;
            color: #041f74;
            margin-left: 5px;
        }

        .login_form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }

        h1 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
            text-align: center;
        }

        .login_form form {
            display: flex;
            flex-direction: column;
        }

        .login_form .field {
            margin-bottom: 15px;
        }

        .login_form .field label {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
            background-color: #004df5;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }

        .login_form .field input {
            width: 95%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 5px;
        }

        .login_form .button {
            background-color: #004df5;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin-top: 14px;
        }


        .login_form .button:hover {
            background-color: #3dbb56;
        }

        nav {
        }

        footer {
            background-color: #f2f6ff;
            padding: 20px;
            text-align: center;
        }

        footer a {
        color: #3dbb56;
        }