/*Button*/
.button {
  text-align: right;
  background-color: #3DBB56;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  /*margin: 4px 2px;*/
  cursor: pointer;
  font-family:Nunito extrabold,sans-serif;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.button:hover {
  background-color: #259338;
  /*background: linear-gradient(to right, #259338, #186825);*/
  transition-duration: 0.4s;
  color: white;
  box-shadow: 1px 1px 1px 1px rgba(85, 85, 85, 0.3);
}

.button:active {
  background-color: #186825;
  /*outline: 2px #186825;*/
  color: white;
  transition-duration: 0.2s;
  margin: 3px 2px;
}

/*tabel*/

.table {
  font-family: nunito-regular, serif; font-size: 15px;
  border-collapse: collapse;
  width: 95%;
  margin: 4px 2px;
  text-align: center;
}

.td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px 8px;
  margin: 6px;
}

.tr:nth-child(even) {
  background-color: #ededed;
}

/*text*/
.text {
    color: #041F74;
    font-family: nunito, regular, serif;
    font-size: 20px
}


/*pagina*/
.pagination {
    /*margin-top: 20px;*/
    text-align: center;
    position: absolute;
    /*top: 95%;*/
    /*left: 10%;*/
}

.pagination a {
    padding: 3px;
    text-decoration: none;
    color:blue;
    margin: 5px;
    border: 0 solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination a.active {
    background-color: #041F74;
    color: white;
    text-align: center;
}

/*Menu Test-correct*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline;
    text-align: center;
}

li a {
    /*display: block;*/
    color: #041F74;
    text-align: center;
    padding: 25px 15px;
    text-decoration: none;
    font-family:Nunito extrabold,sans-serif;
    font-size: 18px;
}

li a:hover {
    font-family:Nunito extrabold,sans-serif;
    font-size: 18px;
    color: #004DF5 ;
}

li b {
    /*display: block;*/
    color: #041F74;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-family:Nunito extrabold,sans-serif;
    font-size: 18px;
}