body {
    font-family: 'Nunito', sans-serif;
    background-color: #F2F6FF;
    margin: 0;
    padding: 0;
    color: #041F74;
}

/*Button 1*/
.first-button {
  text-align: right;
  background-color: #3dbb56;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  font-family:Nunito extrabold,sans-serif;
  transition-duration: 0.4s;
  border-radius: 10px;
}

.first-button:hover {
  background-color: #259338;
  transition-duration: 0.4s;
  color: white;
  box-shadow: 1px 1px 1px 1px rgba(85, 85, 85, 0.3);
}

.first-button:active {
  background-color: #186825;
  color: white;
  transition-duration: 0.2s;
}

/*Button 2*/
.second-button {
  text-align: right;
  background-color: #041df5;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  font-family:Nunito extrabold,sans-serif;
  transition-duration: 0.4s;
  border-radius: 10px;
}

.second-button:hover {
  background-color: #041F74;
  transition-duration: 0.4s;
  color: white;
  box-shadow: 1px 1px 1px 1px rgba(85, 85, 85, 0.3);
}

.second-button:active {
  background-color: #041F74;
  color: white;
  transition-duration: 0.2s;
}

/*tabel*/
/*.table {*/
/*  font-family: nunito-regular, serif; font-size: 15px;*/
/*  border-collapse: collapse;*/
/*  width: 95%;*/
/*  margin-bottom: 20px;*/
/*  text-align: left;*/
/*}*/

/*.td, th {*/
/*  border: 1px solid #ffffff;*/
/*  text-align: center;*/
/*  padding: 8px 8px;*/
/*  margin: 6px 6px;*/
/*  gap:10px*/
/*}*/

/*.tr:nth-child(even) {*/
/*  background-color: #ededed;*/
/*}*/

/*pagina*/
.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
}

.pagination a {
    padding: 3px;
    text-decoration: none;
    color:blue;
    margin: 5px;
    border: 0 solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination a.active {
    background-color: #041F74;
    color: white;
}

/*Menu Test-correct*/
.header {
    background-color: white;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    gap: 15px;
    background-color: white;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-flex;
    text-align: center;
}

li a {
    color: #041F74;
    text-align: center;
    text-decoration: none;
    font-family:Nunito extrabold,sans-serif;
    font-size: 18px;
}

li a:hover {
    color: #004DF5 ;
}

li img {
    vertical-align: middle;
}

/*zoeken in tabel*/
form {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
}

form label {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

form input[type="text"],
form select {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    font-family:Zilla slab,sans-serif; color:#041F74;
}