<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Prompts</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="header">
        <a href="https://www.test-correct.nl/welcome">
            <img src="../static/assets/logo/testcorrect-logo.svg" alt="Test-Correct Logo" class="logo">
        </a>
        <nav>
            <a href="#" class="button">Vragen</a>
            <a href="#" class="button">AI Prompts</a>
            <a href="redacteur.html" class="button active">Redacteuren</a>
        </nav>
    </header>
    <main class="container">
        <h1>AI Prompts</h1>
        <table class="AI Prompts">
            <thead>
                <tr>
                    <th>Prompt</th>
                    <th>Redacteur</th>
                    <th>Toetsvragen ingedeeld</th>
                    <th>Correct</th>
                    <th>Acties</th>
                </tr>
            </thead>
        </table>
        <div class="button">
            <button class="button">Nieuwe prompt toevoegen</button>
        </div>


    </main>

</body>
</html>