<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inlogpagina</title>
    <link rel="stylesheet" href="../static/css/inloggen.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/ai_prompts.css">
        </head>
<body>
<header class="top-bar">
    <div class="container-main">
        <div class="left-side">
            <a href="https://www.test-correct.nl/" class="site-logo">
                <img src="../static/assets/logo/testcorrect-logo.svg" alt="Logo">
            </a>
        </div>
        <div class="button-container">
            <a href="http://127.0.0.1:5000/nieuwe_redacteur" class="button">redacteur toevoegen</a>
            <a href="http://127.0.0.1:5000/redacteur" class="button">redacteuren</a>
            <a href="http://127.0.0.1:5000/toetsvragen" class="button">toetsvragen</a>
            <a href="http://127.0.0.1:5000/ai_prompts" class="button">ai-prompts</a>
        </div>
    </div>
</header>

{%  block main %}
{% endblock %}

<footer></footer>

</body>
</html>