<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inlogpagina</title>
    <link rel="stylesheet" href="inloggen.css">
        </head>
<body>
<header>
    <img src="testcorrect-logo.svg" alt="logo" class = "logo">
</header>
<h1>Inloggen</h1>
<div class="login_form">
                <form action="login.php" method="POST">
            <div class="field">
                <label for="username">Gebruikersnaam</label>
                <input type="text" id="username" name="username" placeholder="Uw gebruikersnaam" required="">
            </div>
            <div class="field">
                <label for="password">Wachtwoord</label>
                <input type="password" id="password" name="password" placeholder="Uw wachtwoord" required="">
            </div>
            <button class="button" type="submit">Inloggen</button>
        </form>
            </div>

<footer><a href="home.html"><strong>Keer terug naar home pagina</strong></a></footer>
</body>
</html>