<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inlogpagina</title>
    <link rel="stylesheet" href="inloggen.css">
        </head>
<body>
<header class="top-bar">
    <div class="container-main">
        <div class="left-side">
            <a href="/" class="site-logo">
                <img src="testcorrect-logo.svg" alt="Logo">
            </a>
        </div>

        <div class="menu-container">
            <ul class="main-navigation">
                <li><a href="#">Oplossingen</a></li>
                <li><a href="https://www.test-correct.nl/toetsplatform">Toetsplatform</a></li>
                <li><a href="https://www.test-correct.nl/pakketten">Aanbod</a></li>
                <li><a href="https://www.test-correct.nl/support">Support</a></li>
                <li><a href="https://www.test-correct.nl/overons">Over</a></li>
            </ul>
        </div>

        <div class="button-container">
            <a href="https://www.test-correct.nl/welcome" class="button one">Probeer nu</a>
            <a href="https://welcome.test-correct.nl/login" class="button two">Log in</a>
        </div>
    </div>
</header>
<h1>Inloggen</h1>
<div class="login_form">
                <form action="login.php" method="POST">
            <div class="field">
                <label for="username">Gebruikersnaam</label>
                <input type="text" id="username" name="username" placeholder="Uw gebruikersnaam" required="">
            </div>
            <div class="field">
                <label for="password">Wachtwoord</label>
                <input type="password" id="password" name="password" placeholder="Uw wachtwoord" required="">
            </div>
            <button class="button" type="submit">Inloggen</button>
        </form>
            </div>

<footer><a href="home.html"><strong>Keer terug naar home pagina</strong></a></footer>
</body>
</html>