<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nieuwe redacteur</title>
</head>
<body>
<div class ="add_user"
<form action="add_member.php" method="POST">
    <label for="naam">Naam:</label>
    <input type="text" id="naam" name="naam" required="">
    <br>
    <label for="email">Email/login:</label>
    <input type="text" id="email" name="email" required="">
     <br>
    <label for="wachtwoord">Wachtwoord</label>
    <input type="text" id="wachtwoord" name="wachtwoord" required="">
    <br>
   <button class="button" type="submit">Inloggen</button>
  </form>

</body>
</html>