{% extends "base.html" %}
{% block main %}
<main class="container">
    <h1>Nieuwe prompt toevoegen</h1>
    <form method="POST" action="/prompt_toevoegen">
        <div>
            <label for="prompt">Naam van de Prompt:</label><br>
            <input type="text" id="prompt" name="prompt" required>
        </div>
        <br>
        <div>
            <label for="prompt_details">Prompt:</label><br>
            <textarea id="prompt_details" name="prompt_details" rows="4" cols="50" required></textarea>
        </div>
        <br>
        <div>
            <button type="submit" class="button">Opslaan</button>
        </div>
    </form>

    {% if error_message %}
        <div style="color: red; margin-top: 10px;">
            <p>{{ error_message }}</p>
        </div>
    {% endif %}
</main>
{% endblock %}
