{%  extends "base.html" %}
{% block main %}

    <main class="container">
        <h1>Redacteuren</h1>
        <table class="redacteuren">
            <thead>
                <tr>
                    <th>Redacteur</th>
                    <th>Loginnaam</th>
                    <th>Admin</th>
                    <th class="admin-only">Acties</th>
                </tr>
            </thead>
            <tbody>
                {% for redacteur in redacteuren %}
                <tr>
                    <td>{{ redacteur[0] }}</td>
                    <td>{{ redacteur[1] }}</td>
                    <td>
                        <input type="checkbox" {% if redacteur[2] %}checked{% endif %} disabled>
                    </td>
                    <td class="admin-only"><button onclick="window.location.href='{{ url_for('wijzig') }}';" class="button">Wijzig</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="button">
            <a href="{{ url_for('nieuwe_redacteur') }}" class="button">Nieuwe redacteur</a>
        </div>
    </main>
{% endblock %}