<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Toetsvragen lijst </title>
    <link rel="stylesheet" href="toetsvragen.css">
<!--    <script src=""></script>-->
</head>
<body>
    <button class="button"> Vragen </button>
    <button class="button"> Ai Promts </button>
    <button class="button"> Redacteuren </button>
      <h1 style="font-family:Nunito,serif; color:#041F74;"> Toetsvragen lijst </h1>
      <p style="font-family:Zilla slab,sans-serif; color:#041F74; margin: 4px 2px;" > Toetsvragen lijst </p>
        <button type="button" style="font-family:Zilla slab,sans-serif; margin:4px 2px;" > Ververs </button>
          <table>
            <thead>
              <tr style="font-family: nunito-regular, serif; color:#041F74; font-size: 20px;">
                <td>Vraag</td>
                <td>vak</td>
                <td>Invoer datum</td>
                <td>Taxonomie</td>
              </tr>
            </thead>
            <tbody>
              {% for vraag in vragen %}
              <tr>
                <td>{{vraag.vraag}}</td>
                <td>{{vraag.vak}}</td>
                <td>{{vraag.datum if vraag.datum else "N/A"}}</td>
<!--<td id="vraag"></td>-->
<!--<td id="vak"></td>-->
<!--<td id="datum"></td>-->
                <td><button class="button"> Indexeer </button>
              </tr>
              {% else %}
              <tr>
                  <td colspan="4">geen vragen beschikbaar</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
<!--    <script>-->
<!--    $(document).ready(function(){-->
<!--      $.getJSON('http://127.0.0.1:5000/toetsvragen', function(data){-->
<!--        $.each(data, function(key, value){-->
<!--          $('vraag').append(value.vraag + "<br>");-->
<!--          $('vak').append(value.vak + "<br>");-->
<!--          $('datum').append(value.datum + "<br>");-->
<!--        });-->
<!--      });-->
<!--    });-->
<!--    </script>-->
</body>
</html>