<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Toetsvragen lijst </title>
<!--<link rel="stylesheet" href="toetsvragen.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toetsvragen.css') }}">
</head>
<body>
    <button class="button"> Vragen </button>
    <button class="button"> Ai Promts </button>
    <button class="button"> Redacteuren </button>
      <h1 style="font-family:Nunito,serif; color:#041F74;"> Toetsvragen lijst </h1>
      <p style="font-family:Zilla slab,sans-serif; color:#041F74; margin: 4px 2px;" > Toetsvragen lijst </p>
        <button type="button" style="font-family:Zilla slab,sans-serif; margin:4px 2px;" > Ververs </button>
          <table>
            <thead>
              <tr style="font-family: nunito-bold, serif; color:#041F74; font-size: 21px;">
                <td>Vraag</td>
                <td>vak</td>
                <td>Invoer datum</td>
                <td>Taxonomie</td>
              </tr>
            </thead>
            <tbody>
              {% for vraag in vragen %}
              <tr style="font-family: nunito, serif; color:#041F74; font-size: 15px;">
                <td>{{vraag.vraag}}</td>
                <td>{{vraag.vak}}</td>
                <td>{{vraag.datum if vraag.datum else "N/A"}}</td>
                <td><button class="button"> Indexeer </button>
              </tr>
              {% else %}
              <tr>
                  <td colspan="4">geen vragen beschikbaar</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="pagination">
            {% if prev_page %}
            <a href="{{ url_for('toetsvragen', page=prev_page) }}">Vorige</a>
            {% endif %}

            {% for num in range(1, (vragen|length // 10) + 2) %}
            <a href="{{ url_for('toetsvragen', page=num) }}">{{ num }}</a>
            {% endfor %}

<!--            {% for num in range(1, total_pages + 1) %}-->
<!--            <a href="{{ url_for('toetsvragen', page=num) }}"-->
<!--            {% if num == request.args.get('page', 1, type=int) %} class="active" {% endif %}>-->
<!--            {{ num }}-->
<!--            </a>-->
<!--            {% endfor %}-->

            {% if next_page %}
            <a href="{{ url_for('toetsvragen', page=next_page) }}">Volgende</a>
            {% endif %}
          </div>
</body>
</html>