<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vraag indexeren naar taxonomie</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/ai_prompts.css">
</head>

<body>
<header class="top-bar" style="background-color: #f8f9fa; padding: 15px 0; border-bottom: 2px solid white; margin-bottom: 15px;">
    <div style="max-width: 1200px; margin: 0 auto; display: flex; align-items: center; justify-content: space-between;">
        <div class="left-side" style="display: flex; align-items: center;">
            <a href="https://www.test-correct.nl/" class="site-logo" style="text-decoration: none;">
                <img src="../static/assets/logo/testcorrect-logo.svg" alt="Logo" style="height: 50px;">
            </a>
        </div>
        <div class="button-container">
            <a href="http://127.0.0.1:5000/nieuwe_redacteur" class="button">redacteur toevoegen</a>
            <a href="http://127.0.0.1:5000/redacteur" class="button">redacteuren</a>
            <a href="http://127.0.0.1:5000/toetsvragen" class="button">toetsvragen</a>
            <a href="http://127.0.0.1:5000/ai_prompts" class="button">ai-prompts</a>
        </div>
    </div>
</header>

    <div class="content-row" style="margin-left:49px">
      <h2> Indexeren </h2>
    </div>

<div class = "container" style="text-align: left; margin:10px;">
        <div>Vraag: <span id="vraag">{{ question }}</span></div>
        <br>
        <div>vak: {{ vak }}</div>
        <br>
        <div>onderwijsniveau: {{ onderwijsniveau }}</div>
        <br>
        <div>leerjaar: {{ leerjaar }}</div>
        <br>
        <form method="POST" action="{{ url_for('indexeren', questions_id=questions_id) }}">
        <label for="keuze">Prompt:</label>
        <select id="keuze" name="keuze">
        {% for prompt in prompts %}
            <option value="{{ prompt[0] }}">{{ prompt[1] }}</option>
        {% endfor %}
        </select>
        <br><br>
        <button type="submit" class="button-1" style="margin-top:20px;">Toepassen</button>
        </form>
        </div>

{%  block main %}
{% endblock %}

<footer style="text-align: center;"><a href="{{ url_for('toetsvragen') }}"><strong>Keer terug naar home pagina</strong></a></footer>

</body>
</html>