<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vraag taxonomie resultaat</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
    <body>
    <header class="top-bar">
        <div class="container-main">
            <div class="left-side">
                <a href="https://www.test-correct.nl/" class="site-logo">
                    <img src="../static/assets/logo/testcorrect-logo.svg" alt="Logo">
                </a>
            </div>

            <div class="menu-container">
                <ul class="main-navigation">
                    <li><a href="#">Oplossingen</a></li>
                    <li><a href="https://www.test-correct.nl/toetsplatform">Toetsplatform</a></li>
                    <li><a href="https://www.test-correct.nl/pakketten">Aanbod</a></li>
                    <li><a href="https://www.test-correct.nl/support">Support</a></li>
                    <li><a href="https://www.test-correct.nl/overons">Over</a></li>
                </ul>
            </div>

            <div class="button-container">
                <a href="https://www.test-correct.nl/welcome" class="button one">Probeer nu</a>
                <a href="https://welcome.test-correct.nl/login" class="button two">Log in</a>
            </div>
        </div>
    </header>
        <div class = "container">
            <div>Vraag: <span id="vraag">{{ question }}</span></div>
            <br>
            <div>vak: {{ vak }}</div>
            <br>
            <div>onderwijsniveau: {{ onderwijsniveau }}</div>
            <br>
            <div>leerjaar: {{ leerjaar }}</div>
            <br>
            <form method="POST" action="{{ url_for('vraag_taxonomie_resultaat', questions_id=questions_id) }}">
                <label for="taxonomie_bloom">Bloom Taxonomie:</label>
                <select id="taxonomie_bloom" name="taxonomie_bloom">
                    <option value="onthouden">onthouden</option>
                    <option value="begrijpen">begrijpen</option>
                    <option value="toepassen">toepassen</option>
                    <option value="analyseren">analyseren</option>
                    <option value="evalueren">evalueren</option>
                    <option value="creeren">creeren</option>
                </select>
                <br><br>
                <div class="button">
                <button type="submit" class="button">taxonomie opslaan</button>
                </div>
            </form>
            <div>
            <p>prompt: {{ prompt }}</p>
            </div><br>
            <div>generated niveau: {{ ai_niveau }}</div>
            <div>uitleg: {{ ai_uitleg }}</div>
    </body>
</html>