<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wijzig redacteuren</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <header class="header">
        <a href="../index.html">
            <img src="../assets/logo/logo_test-correct.svg" alt="Test-Correct Logo" class="logo">
        </a>
        <nav>
            <a href="#" class="button">Vragen</a>
            <a href="#" class="button">AI Prompts</a>
            <a href="#" class="button active">Redacteuren</a>
        </nav>
    </header>
   <main class="container">
       <h1>wijzig redacteuren</h1>
        <table>
            <form>
                <div id="box1">
                    <div>
                        <lable for="uname">naam: </lable>
                        <input type="" placeholder="naam" required>
                    </div>

                    <br>

                    <div>
                        <lable for="uname">Email/Login: </lable>
                        <input type="" placeholder="email@login" required>
                    </div>

                    <br>

                    <div>
                        <lable for="uname">wachtwoord: </lable>
                        <input type="" placeholder="wachtwoord" required>
                    </div>
                </div>
            </form>

        </table>
        <div class="button">
                    <button class="button">Opslaan</button>
        </div>
        <br>
        <div class="button">
                    <button class="button">Verwijder</button>
   </main>
</body>
</html>