<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wijzig redacteuren</title>
</head>
<body>

<button style="font-size:15px; color: black">vragen</button>
<button style="font-size:15px; color: black">AI prompts</button>
<button style="font-size:15px; color: black">Redacteuren</button>
<h2>wijzig redacteuren</h2>
    <table>
        <form>
            <div>
                <lable for="uname">naam: </lable>
                <input type="" placeholder="naam" required>
            </div>

            <br>

            <div>
                <lable for="uname">Email/Login: </lable>
                <input type="" placeholder="naam@hr.nl" required>
            </div>

            <br>

            <div>
                <lable for="uname">wachtwoord: </lable>
                <input type="" placeholder="spongebob123" required>
            </div>
            <br>
            <div>
                <button style="font-size:15px; color: black">opslaan</button>
            </div>
            <br>
            <div>
                <button style="font-size:15px; color: black">verwijder</button>
            </div>
        </form>

    </table>


</body>
</html>